.main-content{
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.total-amount-element{
    text-align: center;
    font-size: 18px;
}

.expense-content{
    width: 100%;
    background-color: white;
    max-height: 700px;
    overflow: scroll;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.135);
}